<div class="local-ga-lobby card">
    <div class="card-body">
        <h3>{{#str}}gamelobby, local_gamificationarena{{/str}}</h3>
        <p>{{#str}}pluginname, local_gamificationarena{{/str}} brings real-time course battles.</p>
        <a class="btn btn-primary" href="{{config.wwwroot}}/local/gamificationarena/queue.php?courseid={{courseid}}&sesskey={{sesskey}}">{{startchallenge}}</a>
        <a class="btn btn-outline-secondary ml-2" href="{{leaderboardurl}}">{{#str}}leaderboard, local_gamificationarena{{/str}}</a>
    </div>
</div>
