<div class="activity-stream" data-widget-activity="{{id}}">
    <h3 class="stream-title">{{title}}</h3>
    <ul class="events-list">
        {{#events}}
            <li class="event-item">
                <span class="event-time">{{time}}</span>
                <span class="event-desc">{{description}}</span>
            </li>
        {{/events}}
    </ul>
</div>