<div class="chart-widget" id="widget-chart-{{id}}">
    <h3 class="widget-title">{{title}}</h3>
    <canvas id="chart-canvas-{{id}}" data-type="{{type}}" data-labels="{{#labels}}{{.}},{{/labels}}" data-datasets="{{datasetsjson}}" width="400" height="300"></canvas>
</div>